// Blue
$dark_blue_500: #25323B;
$dark_blue_400: #354854;
$dark_blue_300: #455E6E;
$dark_blue_200: #557487;
$dark_blue_100: #658AA1;
// White
$white: #FFFFFF;
$white_bone: #FCFCFC;
$white_gray: #F2F2F2;
// Gray
$dark_gray_500: #3D3D3D;
$dark_gray_400: #555657;
$dark_gray_300: #6E6F70;
$dark_gray_200: #87898A;
$dark_gray_100: #A0A2A3;
//// Dark Blue
//$dark_blue_100: #609ED4;
//$dark_blue_200: #356EA9;
//$dark_blue_300: #0A3871;
//$dark_blue_400: #072B61;
//$dark_blue_500: #052051;
//// Gray
//$gray_100: #CED4DA;
//$gray_200: #ADB5BD;
//$gray_300: #868E96;
//$gray_400: #495057;
//$gray_500: #343A40;
//// Ligth Blue
//$ligth_blue_100: #F3F5FC;
//$ligth_blue_200: #EFF1FA;
//$ligth_blue_300: #E9ECF8;
//$ligth_blue_400: #AAB2D5;
//$ligth_blue_500: #757FB2,